<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>(Prateek) Zyla Task 3</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <html>
  <head>
    <title>Zyla | Neemtree</title>
  </head>
  <body>
    <div id="container">
    </div>
  </body>
  </html>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script  src="/javascripts/script3.js"></script>
  </body>
  </html>
  