span.selected {
  background-color: #ff4444;
  font-weight:bold;
  color: #222;
}

span.selectedv {
  background-color: #8c44ff;
  font-weight:bold;
  color: #222;
}

span.deselected {
  background-color: #ffffff;
  font-weight:normal;
  color: #222;
}

#container {
  user-select: none;
}

.bottomright {
  background-color: #ff4444;
  position: absolute;
  font-weight:bold;
  bottom: 8px;
  right: 20px;
  font-size: 18px;
}

.bottomkolatop {
  background-color: #8c44ff;
  position: absolute;
  font-weight:bold;
  top:500px;
  right: 20px;
  font-size: 18px;
}

span:hover {
  position: relative;
}

span[title]:hover:after {
  content: attr(title);
  padding: 4px 8px;
  color: #333;
  position: absolute;
  left: 0;
  top: 100%;
  white-space: nowrap;
  z-index: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #222;
  -webkit-box-shadow: 0px 0px 4px #222;
  box-shadow: 0px 0px 4px #222;
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}